* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f7f9;
    color: #222;
}

header {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 8%;
    background: white;
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.hero {
    min-height: 650px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    background:
        linear-gradient(
            rgba(0,0,0,0.35),
            rgba(0,0,0,0.35)
        ),
        url("https://images.unsplash.com/photo-1516589178581-6cd7833ae3b2")
        center/cover;
}

.hero-content {
    max-width: 700px;
    padding: 30px;
    color: white;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 35px;
}

.main-button {
    display: inline-block;

    padding: 15px 30px;

    background: white;
    color: #222;

    border-radius: 30px;

    text-decoration: none;

    font-weight: bold;
}

.profile-section {
    padding: 80px 20px;
}

.form-container {
    max-width: 600px;

    margin: auto;

    background: white;

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0 10px 40px rgba(0,0,0,0.08);
}

.form-container h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #777;
    margin-bottom: 30px;
}

form label {
    display: block;

    margin-top: 18px;
    margin-bottom: 8px;

    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;

    padding: 14px;

    border: 1px solid #ddd;

    border-radius: 10px;

    font-size: 16px;

    outline: none;
}

textarea {
    resize: vertical;
}

form button {
    width: 100%;

    margin-top: 30px;

    padding: 15px;

    border: none;

    border-radius: 10px;

    background: #222;

    color: white;

    font-size: 17px;

    cursor: pointer;
}

form button:hover {
    opacity: 0.85;
}

#successMessage {
    margin-top: 20px;

    text-align: center;

    font-weight: bold;
}

footer {
    padding: 30px;

    text-align: center;

    color: #777;
}


/* 手机 */

@media (max-width: 768px) {

    .hero {
        min-height: 550px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 17px;
    }

    .form-container {
        padding: 25px;
    }

}
